<div class= "small-10-columns">
  <h2>Sign up</h2>
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

 <div class="row">
    <div class= "field small-10 columns">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true %>
    </div>
  </div>
 <div>

   <div class="row">
      <div class= "field small-10 columns">
         <%= f.label :first_name %>
         <%= f.text_field :first_name %>
      </div>
   </div>


  <div class="row">
    <div class= "field small-10 columns">
     <%= f.label :last_name %>
     <%= f.text_field :last_name %>
    </div>
  </div>


  <div class="row">
    <div class= "field small-10 columns">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %>
      <%= f.password_field :password, autocomplete: "off" %>
    </div>
  </div>

  <div class="row">
    <div class= "field small-10 columns">
     <%= f.label :password_confirmation %>
     <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>
  </div>

  <div class="row">
    <div class= "field small-10 small-centered small-offset-1 columns" id="terms-pane">
  		<h2 align="center">Terms & Conditions</h2>
  		<p>SealCORI assists self represented persons with the process of sealing their criminal records.
      The materials available at this web site are for informational purposes only and not for the purpose of providing legal advice.
      You should contact your attorney to obtain advice with respect to any particular issue or problem.
      Use of and access to this Web site or any of the e-mail links contained within the site do not create an attorney-client relationship
      between SealCORI and the user or browser </p>
      <p> The accuracy of the eligibility analysis performed by SealCORI is entirely dependent upon the input of the user. SealCORI is not responsbile for any and all
        potentially erroneous eligibiltiy determinations. </p>
	  </div>
  </div>

  <div class="field">
    <%= f.label "Accept Terms" %>
    <%= f.check_box :terms_of_service %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up", class: "button round tiny" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
