<div class= "small-12-columns small-cenetred question-box" align= "center" >
  <%= form_tag(more_crimes_path, method: 'get', id: 'more-crimes-question') do %>
    <p> Do you have another crime on your CORI report? </p>
    <%= radio_button_tag(:yes_or_no, "yes") %>
    <%= label_tag(:yes, "Yes") %>
    <%= radio_button_tag(:yes_or_no, "no") %>
    <%= label_tag(:no, "No") %>
    <%= submit_tag("Submit", id: 'question_one_submit') %>
  <% end %>
<div>
