<div class= "small-12-columns small-cenetred question-box" align= "center" >
  <%= form_tag(other_states_path, method: 'get', id: 'other-states-question') do %>
    <p> Have you been convicted of a misdemeanor in the last five years or
        a felony in the last 10 years in another state? </p>
    <%= radio_button_tag(:yes_or_no, "yes") %>
    <%= label_tag(:yes, "Yes") %>
    <%= radio_button_tag(:yes_or_no, "no") %>
    <%= label_tag(:no, "No") %>
    <%= submit_tag("Submit") %>
  <% end %>
<div>
