<div class "small-12-column small-centered columns" align= "center">
  <p>
    Please fill out the form below with the information from the next crime on your CORI Report:
  </p>
</div>
<div class= "row">
  <div class= "small-6-column columns eligibility-form">
    <%= form_for @record do |f| %>
      <%= f.label :crime_name, "Name of Crime" %>
      <%= f.text_field :crime_name %>

      <%= radio_button_tag(:felony_or_misdemeanor, "felony") %>
      <%= label_tag(:felony, "Felony") %>
      <%= radio_button_tag(:felony_or_misdemeanor, "misdemeanor", checked: true) %>
      <%= label_tag(:misdemeanor, "Misdemeanor") %>
      <br>
      <%= radio_button_tag(:convicted, "yes") %>
      <%= label_tag(:convicted, "Convicted") %>
      <%= radio_button_tag(:convicted, "no", checked:true) %>
      <%= label_tag(:convicted, "Not Convicted") %>
      <br>
      <div id="incarcerated-group" class="hidden">
        <p> Were you incarcerated? <p>
        <%= radio_button_tag(:incarcerated, "yes") %>
        <%= label_tag(:incarcerated, "Yes") %>
        <%= radio_button_tag(:incarcerated, "no", checked: true) %>
        <%= label_tag(:incarcerated, "No") %>
      </div>
      <div class= "row">
        <div class= "date-group small-6-column small-centered columns">
          <span id="date-text"> <%= f.label :disposition_date, "Disposition Date" %> </span>
          <%= f.text_field :disposition_date, id: "datepicker" %>
        </div>
      </div>

      <%= f.submit "Submit", id: "eligibility-submit" %>
    <% end %>
  </div>
</div>
