<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title><%= content_for?(:title) ? yield(:title) : "foundation-rails" %></title>

    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>

    <nav class="top-bar">
    <ul class="title-area">
      <li class="name">
        <h1><a href="/">SealCORI</a></h1>
      </li>
    </ul>

    <section class="top-bar-section">
      <ul class="right">
        <%- if current_user -%>
          <li><%= link_to 'Edit My Account', edit_user_registration_path %></li>
          <li><%= link_to 'Sign Out', destroy_user_session_path, method: :delete %></li>
        <%- else -%>
          <li><%= link_to 'Sign Up', new_user_registration_path %></li>
          <li><%= link_to 'Sign In', new_user_session_path %></li>
        <%- end -%>
      </ul>
    </section>
  </nav>


    <%= render 'layouts/messages' %>

   <div class="container">
    <div class="row">
       <%= yield %>
    </div>
  </div>
  <footer class="row">
       <div class="large-12 columns footer-bar">
         <hr/>
         <div class="row">
           <div class="large-6 columns">
             <p>© Copyright Brendan Boyle.</p>
           </div>
           <div class="large-6 columns">
             <ul class="inline-list right">
               <li><a href="#">Terms of Service</a></li>
               <li><a href="#">About </a></li>
             </ul>
           </div>
         </div>
       </div>
     </footer>
   <%= javascript_include_tag 'application' %>
  </body>
</html>
